<!--Dialogo-->
<dialog id="dialog">
    <h2>Ayuda para realizar una correcta descripción</h2><br>
    <p>Proporciona detalles como: </p><br>
    <div class="text-content">
        <ul>
            <li>
                <strong>Materiales: </strong>
                Ej. "Estructura de acero, acabados en madera y cerámica."<br>
            </li>
            <li>
                <strong>Características clave: </strong>
                Ej. "Casa de 2 pisos con terraza, cocina integrada y paneles solares."<br>
            </li>
            <li>
                <strong>Requerimientos técnicos: </strong>
                Ej. "Cimentación profunda por suelo arcilloso, sistema de recolección de agua pluvial."<br>
            </li>
            <li>
                <strong>Contexto: </strong>
                Ej. "Ubicado en zona sísmica, con normativas de altura específicas."
            </li>
        </ul>
    </div>
    <form>
        <button id="ok-button" class="btn" formmethod="dialog">Aceptar</button>
    </form>
</dialog>